@import "../../styles/variables.less";

.uploadImg {
    display: flex;
    ._imgbox {
        position: relative;
        width:  unit(50, @unit) / @base;
        min-height:  unit(50, @unit) / @base;
        // height: 88px;
        margin-right: 10px;
        ._del {
            position: absolute;
            top: 0;
            left: 0;        
            z-index: 888;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, .2);
        }
    }
    ._img {
        width:  unit(50, @unit) / @base;
        min-height:  unit(50, @unit) / @base;
    }
    .uploadImg {
        border: 1px solid @border-color;
        width:  unit(50, @unit) / @base;
        min-height:  unit(50, @unit) / @base;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
        ._input {
            position: absolute;
            width:  unit(50, @unit) / @base;
            height:  unit(50, @unit) / @base;
            top: 0;
            left: 0;
            opacity: 0;
        }
    }

}  