:global {
    input, .input {
        width: 100%;
        line-height: unit(44, @unit) / @base;
        border: 1px solid @border-color;
        border-radius: 4px;
        font-size: unit(18, @unit) / @base;
        padding-left: unit(10, @unit) / @base;
        padding-right: unit(10, @unit) / @base;
        &:focus {
            border-color: @border-foucs-color;
        }
    }
    button {
        min-width: unit(100, @unit) / @base;
        padding: unit(4, @unit) / @base unit(10, @unit) / @base;
        line-height: unit(34, @unit) / @base;
        background: @main;
        color: @white;
        border-radius: unit(6, @unit) / @base;
        font-size: unit(16, @unit) / @base;
    }

    .header {
        background: @main;
        line-height: unit(44, @unit) / @base;
        color: @white;
        width: 100%;
        height: unit(44, @unit) / @base;
        max-height: 10vh;
        text-align: center;
    }
}   